<h1>Thank you for shopping with us</h1>


<%= link_to "VIEW ORDERS", orders_path, :class => "w3-bar-item w3-button"  %>
<%= link_to 'SIGN OUT', destroy_user_session_path, :method => :delete,:class =>"w3-bar-item w3-button" %>
</br>
<a href="/items" class="w3-button w3-black w3-section">Continue Shopping</a>